.header-logo{
  text-align: center;
  margin-bottom: 25px;
}
.header-slider-item:not(:last-child){
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #e62429;
  span{
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    padding: 0 450px;
    text-align: center;
  }
}